<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<h2>Hello,</h2>
	<p>First, I'd like to thank you for this opportunity. This was a fun project that required a bit of learning and work to get
		done but, was an excellent opportunity to learn something new. This application will navigate to Google.com and search for 
		whatever you input into the text field then scrape the search results and print to the console.</p>

	<table>
		<tr>			 
			 <form action=/google_search method="post">
				<th><a href="https://www.google.com" target="_blank" style="text-decoration:none;" />Google:</th>
				<td><input type="text" name="q" autocomplete="off"><input id="submitButton" type="submit" name="Search" value="  →  "></td>
			</form> 
		</tr>
	</table>	
</body>

</html>